<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes APP</title>
</head>
<body>
    <h1>HRM</h1>
    <h1>Add Node</h1>
    <form method="POST">
        <textarea name="content" rows="10" cols="30"></textarea><br>
        <button type="submit"  >Add Notes</button>


    </form>
    <h1>View Notes</h1>
    <table  border="1" cellspacing="0">
        <tr>
            <th>ID</th> 
            <th>Notes</th>
        </tr>
        {% for note in notes %}
        <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.content }}</td>
        </tr>   
        {% endfor %}
</body>
</html>